---
title: Site Tags
permalink: /tags/
layout: layouts/home.njk
---

<ul>
{% for tag in collections.tagList | sort %}
  <li>
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  </li>
{% endfor %}
</ul>
